Thumbs.db
db.json
*.log
public/
.deploy*/
.obsidian/plugins/float-search/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/vault-stats.json
.obsidian/workspace.json
